# profile with correct permissions
AWS_PROFILE=${AWS_PROFILE}

# Don't pipe AWS CLI output into a pager
AWS_PAGER=""

# namespace my own deployments (e.g. your username)
NAMESPACE=${LOGNAME}

# project-wide constants
APP_NAME=account-management-poc
DEPLOYMENT_BUCKET_NAME=account-management-poc-deployment
